<style>
  #blocks {
      width:100%;
      height:60px;
      margin:0 auto;
      /* background-color: #ffe; */
  }
  #block1 {
      height:33.33%;
      width:30%;
      /* background: red; */
      float: left;
  }
  #block2 {
      height:33.33%;
      width:40%;
      /* background: yellow; */
      float: left;
  }
  #block3 {
      height:33.33%;
      width:30%;
      /* background: green; */
      float: right;
  }
</style>

<footer class="footer">
    <div class="container">
        <!-- {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %} -->
        <div id="blocks">
          <div id="block1"><img src="/img/logos/Horizontal@2x.png" alt="AirLab Logo" style="width:60%;"></div>
          <div id="block2">
            <center>

              <!-- <a class="button" itemprop="email" href="https://www.facebook.com" target="_blank">
                <i class="fab fa-github"></i>
              </a> -->
              <!-- <a class="button" itemprop="email" href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook"</i>
              </a> -->
              <a class="button" itemprop="facebook" href="https://www.facebook.com/airlabcmu/" target="_blank">
                <i class="fab fa-facebook fa-lg" style="height:100%;"></i>
              </a>
              <a class="button" itemprop="twitter" href="https://www.twitter.com/airlabcmu/" target="_blank">
                <i class="fab fa-twitter fa-lg"></i>
              </a>
              <a class="button" itemprop="medium" href="https://medium.com/airlabcmu" target="_blank">
                <i class="fab fa-medium fa-lg"></i>
              </a>
              <a class="button" itemprop="github" href="https://github.com/castacks" target="_blank">
                <i class="fab fa-github fa-lg"></i>
              </a>
              <a class="button" itemprop="bitbucket" href="https://bitbucket.org/castacks/" target="_blank">
                <i class="fab fa-bitbucket fa-lg"></i>
              </a>
              <br>
              <br>
              <p class="">&copy; 2021 | Built using the <a href="https://github.com/chrisrhymes/bulma-clean-theme">Bulma Clean Theme</a></p>
            </center>
          </div>
          <div id="block3"><img src="/img/riLogo2019.svg" alt="RI Logo" style="float: right;"></div>
        </div>
        <!-- <div>
          <a href="{{ page.hero_link | prepend: site.baseurl  }}" class="button is-large"><div class="icon"><i class="fab fa-facebook"</i></div></a>
        </div> -->
        <!-- <div class="content is-small has-text-centered">
            <p class="">© 2020</p>
        </div> -->
    </div>


</footer>
