{% if post.redirect %}
<div class="card" style="height: 100%; display: flex; flex-direction: column; align-items: center;" onclick="window.open('{{ post.redirect }}', '_self')" >
{% else %}
<div class="card" style="height: 100%; display: flex; flex-direction: column; align-items: center;" onclick="window.open('{{ site.baseurl }}{{ post.url }}', '_self')" >
{% endif %}
    
    {% if post.card_video %}
    <div style="height: 200px;">
        <video autoplay loop muted playsinline alt="{{ post.title }}" style="object-fit: contain; height: 100%;">
            <source src="{{ post.card_video }}.webm" type="video/webm" />
            <source src="{{ post.card_video }}.mp4" type="video/mp4" />
        </video>
    </div>
    {% elsif post.image %}
        <div style="height: 200px;">
            <picture style="object-fit: contain; height: 100%;"> 
                {% assign image_without_ext = post.image | remove: '.jpg' | remove: '.jpeg' | remove: '.png' | remove: '.gif' %}
                {% assign webp_image = image_without_ext | append: '.webp' %}
                {% capture webp_exists %}{% file_exists {{ webp_image }} %}{% endcapture %}
                {% if webp_exists == "true" %}
                    <source type="image/webp" srcset="{{ webp_image }}"> 
                    <!-- backup image if browser doesn't support webp -->
                    {% capture png_exists %}{% file_exists {{ image_without_ext | append: '.png' }} %}{% endcapture %}
                    {% capture jpg_exists %}{% file_exists {{ image_without_ext | append: '.jpg' }} %}{% endcapture %}
                    {% capture jpeg_exists %}{% file_exists {{ image_without_ext | append: '.jpeg' }} %}{% endcapture %}
                    {% if jpg_exists == "true" %}
                        <source type="image/jpeg" srcset="{{ image_without_ext }}.jpg"> 
                    {% elsif png_exists == "true" %}
                        <source type="image/png" srcset="{{ image_without_ext }}.png">
                    {% elsif jpeg_exists == "true" %}
                        <source type="image/jpeg" srcset="{{ image_without_ext }}.jpeg">
                    {% endif %}
                {% endif %}
                <img src="{{ post.image }}" alt="{{ post.title }}" style="object-fit: contain; height: 100%;"> 
            </picture>
        </div>
    {% else %}
    <header class="card-header">
        <div class="card-header-title">{{ post.title}}</div>
    </header>
    {% endif %}
    <div class="card-content" style="flex-grow: 3;">
        <div class="content">
            {% if post.image or post.card_video %}
            <div class="title is-5">{{ post.title}}</div>
            {% endif %}
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
        </div>
    </div>

    <!-- tags are added here by javascript in research/index.html -->
    <div id="{{ post.title }}-tags">
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>
