<a href="{{ site.baseurl }}{{ post.url }}">
<div class="card" style="height: 100%; display: flex; flex-direction: column; align-items: center;">
    {% if post.image %}
        <div style="height: 200px;">
            <img src="{{ post.image }}" alt="{{ post.title }}" style="object-fit: contain; height: 100%;">
        </div>
    {% else %}
    <header class="card-header">
        <div class="card-header-title">{{ post.title}}</div>
    </header>
    {% endif %}
    <div class="card-content" style="flex-grow: 3;">
        <div class="content">
            {% if post.image %}
            <div class="title is-5">{{ post.title}}</div>
            {% endif %}
            <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%b %-d, %Y" }}</p>
    </footer>
</div>
</a>
