---
---
<div class="text-justify">
    {{reference}}
    <br />
<button class="button0"  onclick="toggle{{entry.key  | replace: '-':'' | replace: ':':''}}()">bibtex</button>

<script>
    function toggle{{entry.key | replace : '-':'' | replace : ':':''}}() {
        var x= document.getElementById('a{{entry.key}}');
        // console.log("haha %o",typeof {{entry.key}});
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
</script>


<button class="button3"  onclick="toggle3{{entry.key  | replace: '-':'' | replace: ':':''}}()">plain text</button>

<script>
    function toggle3{{entry.key | replace : '-':'' | replace : ':':''}}() {
        var x= document.getElementById('c{{entry.key}}');
        // console.log("haha %o",typeof {{entry.key}});
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
</script>

{% if entry.abstract %}
<button class="button3" onclick="toggle2{{entry.key  | replace: '-':'' | replace: ':':''}}()">abstract</button>
{% endif %}

<script>
    function toggle2{{entry.key | replace : '-':'' | replace : ':':''}}() {
        var x= document.getElementById('b{{entry.key}}');
        // console.log("haha %o",typeof {{entry.key}});
        if (x.style.display === 'block') {
            x.style.display = 'none';
        } else {
            x.style.display = 'block';
        }
    }
    </script>

{% if entry.doi %}
<a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input type='button' class='button1' value='doi'/></a>
{% endif %}
{% if entry.preprint %}
<a href="{{ entry.preprint }}"><input type='button' class='button2' value='preprint'/></a>
{% endif %}
{% if entry.url %}
<a href='{{ entry.url | escape }}'><input type='button' class='button4' value='link'/></a>
{% endif %}
{% if entry.video %}
<a href="{{ entry.video}}"><input type='button' class='button5' value='video'/></a>
{% endif %}
<!-- {% if entry.code %} -->
<!-- <a href="{{ entry.code }}"><input type='button' class='button3' value='code'/></a> -->
<!-- {% endif %} -->
</div>

<div id="a{{entry.key}}" style="display:none"><pre>{{entry.bibtex}}</pre></div>
<div id="b{{entry.key}}" style="display:none"><pre>{{entry.abstract}}</pre></div>
<div id="c{{entry.key}}" style="display:none"><pre>{{entry.author}}, "{{{entry.title}}," {{entry.journal}} {{entry.booktitle}}, {{entry.year}}.</pre></div>
