{% if page.menubar and page.show_sidebar %} {% assign content_width = 'is-4' %} {% elsif page.menubar or page.show_sidebar %} {% assign content_width = 'is-8' %} {% else %} {% assign content_width = 'is-12' %} {% endif %}
<!DOCTYPE html>

<head>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
            $('table.display').DataTable({
                paging: true,
                stateSave: true,
                searching: true
            });
        });
    </script>
    {% endif %}
</head>
<html>
{% include head.html %}

<body>
    {% include header.html %} {% unless page.hide_hero %} {% include hero.html %} {% endunless %} {% include callouts.html %}
    <section class="section">
        <div class="container">
            <div class="columns">
                {% if page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                <div class="column {{ content_width }}">
                    {% include tabs.html %} {% include showcase.html %} {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-12-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% unless page.hide_footer %} {% include footer.html %} {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
</body>

</html>